# Nebius AI Studio Credentials
NEBIUS_API_KEY=
NEBIUS_BASE_URL=https://api.studio.nebius.ai/v1
DEFAULT_RANK_MODEL=BAAI/bge-reranker-v2-m3

FIRECRAWL_API_KEY=
FIRECRAWL_API_URL=
FIRECRAWL_WEBHOOK_SECRET=

# Server Configuration
PORT=3000
NODE_ENV=development
